@if (viewMode) {
  @if (currentTutorial.id) {
    <h4 class="text-red-500">Netflix</h4>

    <div class="text-white">
      <label><strong>Nombre:</strong></label> {{ currentTutorial.name }}
    </div>

    <div class="text-white">
      <label><strong class="text-white">Precio descarga:</strong></label> {{ currentTutorial.price }}
    </div>

    <div class="text-white">
      <label><strong>Descripción:</strong></label> {{ currentTutorial.extended_description }}
    </div>

    <div class="text-white">
      <label><strong>Categoría:</strong></label> {{ currentTutorial.category }}
    </div>

    <div class="text-white">
      <label><strong>Oferta:</strong></label> {{ currentTutorial.sale ? "On Sale" : "Not on Sale" }}
    </div>

    <div class="text-white">
      <label><strong>Imagen:</strong></label> <img src="{{ currentTutorial.image }}" alt="Tutorial Image">
    </div>

    <a class="badge badge-warning" routerLink="/tutorials/{{ currentTutorial.id }}">
      Edit
    </a>
  } @else {
  }
} @else {
  @if (currentTutorial.id) {
    <div class="edit-form">
      <h4 class="text-red-600">Netflix</h4>
      <form>
        <div class="form-group text-white">
          <label for="name">Serie o pelicula</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentTutorial.name"
            name="name"
          />
        </div>
        <div class="form-group text-white">
          <label for="price">Precio por descarga</label>
          <input
            type="number"
            class="form-control"
            id="price"
            [(ngModel)]="currentTutorial.price"
            name="price"
          />
        </div>
        <div class="form-group text-white">
          <label for="extended_description">Descripción</label>
          <input
            type="text"
            class="form-control"
            id="extended_description"
            [(ngModel)]="currentTutorial.extended_description"
            name="extended_description"
          />
        </div>
        <div class="form-group text-white">
          <label for="category">Categoría</label>
          <input
            type="text"
            class="form-control"
            id="category"
            [(ngModel)]="currentTutorial.category"
            name="category"
          />
        </div>
        <div class="form-group text-white">
          <label for="sale">Oferta</label>
          <input
            type="checkbox"
            class="form-check-input"
            id="sale"
            [(ngModel)]="currentTutorial.sale"
            name="sale"
          />
        </div>
        <div class="form-group text-white">
          <label for="image">Imágen URL</label>
          <input
            type="text"
            class="form-control"
            id="image"
            [(ngModel)]="currentTutorial.image"
            name="image"
          />
        </div>

        <button class=" mr-2 py-2 px-4 bg-red-500 rounded-md" (click)="deleteTutorial()">
          Eliminar
        </button>

        <button
          type="submit"
          class=" mb-2 py-2 px-4 bg-green-500 rounded-md"
          (click)="updateTutorial()">
         Subir
        </button>
        <p>{{ message }}</p>
      </form>
    </div>
  } @else {
    <p>No hay series ni peliculas...</p>
  }
}
