<div class="h-screen">
    <div class="container w-full pt-8 flex-1 grid gap-12 mx-auto md:px-6 lg:grid-cols-2 bg-black">
        <div class="flex flex-col space-y-4">
            <h1 class="text-3xl font-bold tracking-tighter lg:text-4xl text-neutral-500">Disfruta ahora de las series
                <span class="text-red-600">mas Tops!</span> Que no te lo cuenten, empieza a verlas.
            </h1>
            <p
                class="max-w-[600px] text-white md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400">
                Disfruta donde quieras y cuando quieras. Inicia sesión con tu cuenta de Netflix para disfrutar al
                instante de todo el contenido de netflix.com desde tu ordenador personal o en cualquier dispositivo
                conectado a internet que ofrezca la aplicación de Netflix, entre ellos, smart TV, smartphones, tabletas,
                reproductores multimedia de streaming y consolas de juegos.
            </p>
            <div class="ml-28 flex">
                <img alt="Image" class="overflow-hidden h-[18rem]" src="assets/giphy.gif">
            </div>
        </div>
        <div class="order-1 space-y-8 md:order-2 md:space-y-8 lg:space-y-12">
            <img alt="Image" class="w-full h-[36rem] overflow-hidden object-scale-down drop-shadow-2xl"
                src="assets/mobile-0819.jpg" />
        </div>
    </div>

    <div class="container mx-auto mt-16 px-4 pb-20">
        <h2 class="text-3xl font-bold tracking-tighter lg:text-4xl text-neutral-500">
            ¿ Qué puedo ver en
            <span class="text-red-600">Netflix</span> ?
        </h2>
        <p class="text-white">Netflix dispone de una amplia biblioteca de originales de Netflix galardonados,
            títulos de anime, series de TV, documentales, <br>largometrajes y otros contenidos.
            Ve todo el contenido que quieras, cuando quieras..</p>
        <div class="flex justify-center mt-4 space-x-4">
            <!-- <img alt="Image" class="overflow-hidden h-[18rem]" src="assets/Netflix-home-page.webp"> -->
            <img alt="Image" class="overflow-hidden h-[18rem]" src="assets/OIP.jpg">
        </div>
    </div>
</div>